<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestNewebpayMpgGateway" value="https://ccore.newebpay.com/MPG/mpg_gateway"/>
    <add key="TestNewebpayCreditCardApi" value="https://ccore.spgateway.com/API/CreditCard/Close"/>
    <add key="TestNewebpayQueryTradeInfoApi" value="https://ccore.spgateway.com/API/QueryTradeInfo"/>
    <add key="TestHashKey" value=""/>
    <add key="TestHashIv" value=""/>
    <add key="TestMpgVersion" value="1.5"/>
    <add key="TestCreditCardCloseVersion" value="1.0"/>
    <add key="TestQueryTradeInfoVersion" value="1.1"/>
    <add key="TestMerchantId" value=""/>
    <add key="TestEzPayInvoiceIssue" value="https://cinv.ezpay.com.tw/Api/invoice_issue"/>
    <add key="TestEzPayInvoiceIssueVersion" value="1.4"/>
    <add key="TestEzPayInvoiceInvalid" value="https://cinv.ezpay.com.tw/Api/invoice_invalid"/>
    <add key="TestEzPayInvoiceInvalidVersion" value="1.0"/>
    <add key="TestEzPayInvoiceAllowanceIssue" value="https://cinv.ezpay.com.tw/Api/allowance_Issue"/>
    <add key="TestEzPayInvoiceAllowanceIssueVersion" value="1.3"/>
    <add key="TestEzPayHashKey" value=""/>
    <add key="TestEzPayHashIv" value=""/>
    <add key="TestEzPayMerchantId" value=""/>
    

    <add key="ProdNewebpayMpgGateway" value="https://core.newebpay.com/MPG/mpg_gateway"/>
    <add key="ProdNewebpayCreditCardApi" value="https://core.spgateway.com/API/CreditCard/Close"/>
    <add key="ProdNewebpayQueryTradeInfoApi" value="https://core.spgateway.com/API/QueryTradeInfo"/>
    <add key="ProdQueryTradeInfoVersion" value="1.1"/>
    <add key="ProdHashKey" value="" />
    <add key="ProdHashIv" value="" />
    <add key="ProdMpgVersion" value="1.5" />
    <add key="ProdCreditCardCloseVersion" value="1.0" />
    <add key="ProdMerchantId" value="" />
    <add key="ProdEzPayInvoiceIssue" value="https://inv.ezpay.com.tw/Api/invoice_issue"/>
    <add key="ProdEzPayInvoiceIssueVersion" value="1.4"/>
    <add key="ProdEzPayInvoiceInvalid" value="https://inv.ezpay.com.tw/Api/invoice_invalid"/>
    <add key="ProdEzPayInvoiceInvalidVersion" value="1.0"/>
    <add key="ProdEzPayInvoiceAllowanceIssue" value="https://inv.ezpay.com.tw/Api/allowance_Issue"/>
    <add key="ProdEzPayInvoiceAllowanceIssueVersion" value="1.3"/>
    <add key="ProdEzPayHashKey" value="" />
    <add key="ProdEzPayHashIv" value="" />
    <add key="ProdEzPayMerchantId" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
